@import "./reset.css";

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
section {
  flex: 1 1 auto;
}
.container {
  max-width: 1540px;
  padding: 0 10px;
  margin: 0 auto;
}
